
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


/* custom */
html, body {
    height: 100%;
    background-color: #000;
}

div.container {
    height: 100%;
    overflow-y: hidden;
    white-space: nowrap;
    color: #fff;
}

div.container a, div.container a:visited {
    color: #fff;
    position: relative;
    text-decoration: none;
}

/*div.slide a:not(.image-link)::after {*/
div.container a .after {
    content: "";
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 70%;
    left: 0;
}


div.slide {
    width: 100%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    position: relative;
}

div.slide:not(:first-child) {
    margin-left: -4px;
}

div.slide div.content {
    align-items: center;
    justify-content: center;
    white-space: normal;
    width: 560px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    font-family: 'Kalam', cursive;
    font-weight: 300;
    font-size: 24px;
    line-height: 1.4em;
}

div.slide:first-child {
    background-color: #ffb727;
}

div.slide:nth-child(2) {
    background-color: #67b79e;
}

div.slide:nth-child(3) {
    background-color: #538a95;
}

div.slide:nth-child(4) {
    background-color: #565175;
}

div.slide h1, div.slide span {
    display: block;
}

div.slide a.image-link span {
    width: 63px;
    height: 50px;
    display: inline-block;
    vertical-align: top;
    line-height: 50px;
    color: white;
}

/* Individual line styles */
/* slide 1 */
div.slide:first-child h1.first {
    font-size: 43px;
    margin-bottom: 16px;
}

div.slide:first-child h1.second {
    font-size: 31px;
    margin-bottom: 8px;
}

div.slide:first-child h1.third {
    font-size: 31px;
    margin-bottom: 21px;
}

div.slide:first-child h1.fourth, div.slide:first-child h1.fifth, div.slide:first-child h1.sixth {
    font-size: 26px;
}

div.slide:first-child div.links {
    margin-top: 65px;
    font-size: 23px;
}

div.slide:first-child div.links .small {
    font-size: 17px;
}

div.slide:first-child div.links .blog-link {
    color: white;
}

div.slide:first-child div.links div.left-column {
    width: 60%;
    display: inline-block;
    vertical-align: top;
}

div.slide:first-child div.links div.left-column > span:nth-child(2) {
    margin-top: 8px;
}

div.slide:first-child div.links div.right-column {
    width: 31%;
    margin-left: 40px;
    display: inline-block;
    vertical-align: top;
}

div.slide:first-child div.links div.right-column > span:first-child {
    margin-left: 10px;
    width: 50px;
}

/* slide 2 */
div.slide:nth-child(2) div.content {
    width: 890px;
    font-size: 33px;
    line-height: 43px;
}

/* slide 3 */
div.slide:nth-child(3) div.content {
    width: 690px;
    font-size: 34px;
    line-height: 42px;
}

div.slide:nth-child(3) div.content .margin {
    margin-bottom: 6px;
}

div.slide:nth-child(3) div.content .margin:nth-child(3) {
    margin-top: 30px;
}

div.slide:nth-child(3) div.content .margin:nth-last-child(3) {    
    margin-top: 6px;
}

div.slide:nth-child(3) div.favourite-keywords {
    font-size: 31px;
    margin-top: 30px;
}

div.slide:nth-child(3) div.favourite-keywords ul {
  list-style-type: none;
  display: inline;
}

div.slide:nth-child(3) div.favourite-keywords ul li {
    display: inline;
}

/* slide 4 */
div.slide:nth-child(4) div.content {
    width: 450px;
    font-size: 29px;
}

div.slide:nth-child(4) h1.get-in-touch {
    margin-top: 10px;
}


/*
 Championing remote work
 */
div.container.championing h1.large {
    font-size: 33px;
    margin-bottom: 45px;
}

div.container.championing h1.small {
    font-size: 24px;
    margin-bottom: 5px;
}

div.container.championing div.slide:first-child {
    background-color: #e4491c;
}

div.container.championing div.slide:first-child div.content {
    width: 780px;
}

